
.class-change-input-field {

  display: flex;
  margin-bottom: 1em;
}

.class-change-input-field > div:nth-child(1) {

  flex: 1;
}

.class-change-input-field > div:nth-child(2) {

  flex: 0;
}

.class-change-input-field > div:nth-child(2) > div {

  white-space: nowrap;
}

.class-change-input-field > div:nth-child(2) > div > span {
  
  margin: 0 1em;
}
