
.window-wrapper {

  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.body-segment {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-segment {

  display: flex;
  justify-content: space-between;
}

.header-segment > div:nth-child(1) {

  position: relative;
}

.header-segment > div:nth-child(1) > *:nth-child(1) {

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  height: 3em;
}

.header-segment > div:nth-child(1) > *:nth-child(2) {

  position: absolute;
  top: 50%;
  left: calc(3em + 0.5em);  /* width of element to the left is 3em */
  transform: translateY(-50%);
}

.header-segment > div:nth-child(2) button:last-child {

  margin-right: 0;
}
